*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: #E5E5E5;
}

/* ---- header ----  */

header{
    background-color: #000;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header  a{
    color: #fff;
    text-decoration: none;
}


header a:hover{
    text-decoration: underline;
}

nav ul li{
    display: inline;
    margin-left: 16px;
}

@media (max-width: 600px) {
    header{
        max-width: 600px;
    }
}