*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-top: 5rem;
    text-align: center;
}

img:hover{
    outline: 1px solid black;
}

/* ---- container principal ----  */

div.principal-container{
    margin-bottom: 4rem;
}

/* ---- container topo ----  */

div.flex-top-container{
    max-width: 1400px;
    margin: 2rem auto 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.flex-top-container div{
    max-width: 350px;
    height: 200px;
    background-color: #fff;

}

div.flex-top-container img{
    width: 100%;
    height: 100%;
}

div.flex-top-container p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.4rem;
}

/* ---- container mid (propaganda/bermudas)---- */

div.flex-mid-container{
    /* border: 2px solid black; */

    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    
}

/* ---- estilização propaganda ----  */

div.ads{

    margin-right: 1.5rem;
    width: 600px;

    display: flex;
}

div.ads img{
    width: 100%;
    height: 80%;
}

div.ads p{
    text-align: center;
}

/* ---- estilização dos cards ----  */

div.cards{

    max-width: 900px;
    max-height: 600px;
    align-items: center;

    display: flex;
    flex-flow: column wrap;
    flex: 1;    

}

div.cards div{
    width: 200px;
    height: 150px;

    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.cards img{
    width: 100%;
    height: 100%;
}

div.cards p{
    margin-left: 10px;
    font-weight: 700;

}

/* ---- Reponsividade ----*/

@media (max-width: 1200px){
   div.flex-mid-container{
       display: block;
   }

   div.ads{
       margin: 0 auto;
       width: 600px;
   }

   div.cards{
       margin: 0 auto;
   }
}

@media (max-width: 600px){
    div.ads{
        width: 450px;    
    }

    div.cards div{
        flex-direction: column;
    }

    div.cards p{
        margin-top: 1rem;
    }
}

@media (max-width: 450px){
    div.ads div{
        max-width: 380px;
        margin: 0 auto;
    }

    .principal-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-top-container div:first-child{
        justify-content: center;
        margin-left: 2.5rem;
        
    }
    
}