*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- Container ----  */

div.flex-container{
    display: flex; 

    max-width: 1200px; 
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-top: 4.5rem;
    font-style: italic;
}

/* ---- Main ---  */

main{
    display: flex;
    margin: 3rem 2rem;  
}

main div.main-container{
    display: block;
    margin: 0 auto;
}

main div.main-container img{
    border-radius: 6px;
    width: 800px;
}

main div.main-container img:hover{
    outline: 1px solid black;
}

/* ---- aside ----  */

aside{
    margin-top: 3rem;
}

div.aside-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

div.aside-container div{
    margin-bottom: 1.3rem;
}

div.aside-container div p{
    font-size: 1.2rem;
    margin-top: 0.5rem;

}

div.aside-container div>img{
    width: 300px;
    border-radius: 6px;
}

div.aside-container div>img:hover{
    outline: 1px solid black;
}


/* ---- responsividade ----  */

@media (max-width: 1200px){
    div.flex-container{
        flex-direction: column;
    }

    main{
        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }

    div.aside-container div{
        margin: 1rem auto;
    }

    div.aside-container div>img{
        width: 450px;
    }
}

@media (max-width: 850px){

    main div.main-container img{
        width: 600px;
        margin: 0 auto;
    }

    div.aside-container{
        max-width: 400px;
        margin: 0 auto;
    }

    div.aside-container div>img{
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 650px){

    main div.main-container img{
        width: 400px;
        margin: 0 auto;
    }

    .flex-container{
        align-items: center;
        justify-content: center;
    }
}



